<!DOCTYPE html>
<head>
<!-- <META HTTP-EQUIV="refresh" CONTENT="15"> -->
<title>tuxedofish</title>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<link rel="stylesheet" href="/layout.css">

<link rel="shortcut icon" href="http://tuxedofish.co.nf/favicon.ico?idea=1"/>
</head>

<div id="container">
	<div class="central" style="height: 50%;">
      <div class="welcome_text">Welcome,</p>
      <span class="name_text" id="full_name"></span>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
<script src="/complete.js"></script>