<!DOCTYPE html>
<head>
<!-- <META HTTP-EQUIV="refresh" CONTENT="15"> -->
<title>tuxedofish</title>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<link rel="stylesheet" type="text/css" href="css/layout.css"/>

<link rel="shortcut icon" href="http://tuxedofish.co.nf/favicon.ico?idea=1"/>
</head>

<body>

<div id="container">
	<main>
      <p class="bold">Welcome!</p>
      <p>
        Thanks to the wonders of OAuth, we know that you are called <span id="full_name"></span> and that your department is <span id="department"></span>.
      </p>
    </main>
</div>

</body>